.button {
    -fx-background-color: WhiteSmoke;
    -fx-border-color: SlateGray;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-padding: 10;
    -fx-font-size: 16;
    -fx-border-width: 3;
    -fx-text-fill: SlateGray;
}